/AvitoTestApp.xcodeproj/project.xcworkspace/xcuserdata/maxim.xcuserdatad/UserInterfaceState.xcuserstate
/AvitoTestApp.xcodeproj/xcuserdata/maxim.xcuserdatad/xcschemes/xcschememanagement.plist
/AvitoTestApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/AvitoTestApp.xcodeproj/xcuserdata/maxim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/AvitoTestApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
